## DATABASE
DATABASE_HOST_BRISTROL=
DATABASE_PORT_BRISTROL=
DATABASE_DATABASE_BRISTROL=
DATABASE_USERNAME_BRISTROL=
DATABASE_PASSWORD_BRISTROL=
DATABASE_TIMEOUT_BRISTROL=
DATABASE_CONNECTION_LIMIT_BRISTROL=

## KEYS
JWT_SECRET_KEY_BRISTROL=
FLASK_SECRET_KEY_BRISTROL=

## ADMIN USER
ADMIN_USER_ID=
ADMIN_USERNAME=
ADMIN_PASSWORD_HASH=
ADMIN_PROFILE=ADMIN
ADMIN_NAME=ADMIN
ADMIN_OFFICE=ADMIN

# Path planilhas
PATH_SPREADSHEET=

# Campo da planilha que define cores
COLOR_FIELD=Observações
NOME_FIELD=Nome
L_FIELD=L*
A_FIELD=a*
B_FIELD=b*
SIZE_SPREADSHEET=8
SIZE_INPUT=5