<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Não Encontrada - Análise de Cores - Bristol Parts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/image.png') }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/image.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles404.css') }}">
</head>
<body>
    <img class="img-100" src="{{ url_for('static', filename='img/sad.png') }}" alt="Sad Image">
    <h1>404</h1>
    <p>A página que você está tentando acessar não está disponível no momento. Isso pode ocorrer porque a página não existe ou foi movida.</p>
    <a href="/">VOLTAR PARA A PÁGINA INICIAL</a>
</body>
</html>
